/**********COMMON******************/

body{
	font-family: 'Nunito', sans-serif;
	/*		background: #fafafa;*/
}

.main-heading{
	color:#585858;
	font-weight: 600;
}
.padding-0{
	padding-right:0;
	padding-left:0;
}

#row-content{
	padding-top:40px;
}
#error {
	color: indianred;
	font-weight: bold;
}

/*****MAIN HOME PAGE******/

/***NAVIGATION**/
.home-navigation.scrolled {
	background-color: #323754 !important;
	transition: background-color 100ms linear;
	margin-top: -10px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.06), 0 0 0 1px rgba(0,0,0,.08);
}
.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: transparent !important;
}

.home-navigation a{
	color: lavender;
	font-size: 15px;
	/*	font-weight: 600;*/
}

.home-navigation a.navbar-brand.logo {
	margin-top: -30px;
}
.home-navigation span.icon-bar{
	background: white;
}
.home-navigation button.navbar-toggle {
	padding-top: 22px;
}

/********BANNER SECTION********/
#starvatron-banner{
	background:url('../assets/images/Banner_Image.jpg') center center no-repeat fixed;
	color:black;
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#starvatron-banner .overlay{
	background: rgba(61,65,60,0.7)  repeat;
	background-size: cover;
	width:100%;
	height:100%;
	padding-top:100px;
	padding-bottom: 80px;
}
#starvatron-banner h1{
	color:#face7e;
	font-weight: bolder;
	text-align: center;
}
#starvatron-banner h4{
	color:white;
}
#starvatron-banner .inner-layer{
	background-color: rgba(0,0,0,.5);
	padding: 30px 30px 30px 30px;

}
#starvatron-banner label{
	float:left;
	font-size: 16px;
	font-weight: 500;
	color:white;
}
#starvatron-banner .btn{
	/*	background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  */
	background: #face7e; 
	color:white;
	width:80px;
	border-radius: 0px;
}

#starvatron-banner .form-control{
	background: transparent;
	border-bottom: 1px solid white;
	border-radius: 5px;
	height:42px;
	color:white;
}
#starvatron-banner select.form-control option{
	background: white;
	color:black;
	line-height: 32px;
	border-bottom: 1px solid blue;
	font-size: 16px;
	padding:15px;
	box-shadow: 0 6px 16px 0 rgba(115,143,147,.4);
}

/*****Starvatron Speciality*****/

#starvatron-speciality{
	padding:30px 0px 80px 0px;
}
#starvatron-speciality h1{
	color: black;
}
#starvatron-speciality h4 i{
	color: #f8ba48 !important;
	font-size: 28px;
}
#starvatron-speciality h4 {
	line-height: 32px;
	background: white;
	padding:10px;
	box-shadow: 0 0 33px 0 rgba(0,0,0,0.08);
}
#starvatron-speciality img{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 50px;
}

/*******************Starvatron Works******************/
#starvatron-works{
	background: whitesmoke;
	transform: skewY(3deg);
	margin-top: -60px;
	padding:30px 0px 30px 0px;
}

#starvatron-works img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: skewY(-3deg);
}
#starvatron-works h2, #starvatron-works h3,#starvatron-works h5{
	transform: skewY(-3deg);
	color:black;
}

/************Starvatron Bikes******************/

#starvatron-bikes{
	padding:30px 0px 30px 0px;
}

#starvatron-bikes img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#starvatron-bikes .box{
	background: white;
	padding:10px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
	margin-bottom: 12px;
}
#starvatron-bikes h4{
	border-bottom: 1px solid lavender;
	padding-bottom: 10px;
}

/****Starvatron Contact****/
#starvatron-contact img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: skewX(-3deg);
	margin-top:-10px;
}
#starvatron-contact{
	padding:30px 0px 30px 0px;
	background: #face7e;
	transform: skewX(3deg);
	margin-top: -60px;
}
#starvatron-contact h2, #starvatron-contact h3, #starvatron-contact h1, #starvatron-contact h4{
	transform: skewX(-3deg);
}
#starvatron-contact h1{
	color:darkslategray;
}

/***Bootstrap DateTimePicker***/
.bootstrap-datetimepicker-widget {
	font-family: 'Nunito', sans-serif !important;
	font-size: 20px !impotant;
}

/***************************************************************************************
RESPONSIVE
*****************************************************************************************/


/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
	#starvatron-banner h1{
		font-size: 54px;
	}
	#starvatron-banner h4{
		font-size: 42px;
		padding-top: 30px;
	}
	.banner-text{
		padding-top:40px;
		padding-bottom: 40px;
	}
	img.starvatron-logo {
		width: 18%;
		margin-top: -20px;
	}


}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
	#starvatron-banner h1{
		font-size: 64px;
	}
	#starvatron-banner h4{
		font-size: 42px;
		padding-top: 30px;
	}
	#starvatron-banner .banner-text{
		padding-top:40px;
		padding-bottom: 40px;
	}
	.starvatron-logo {
		width: 22% !important;
		margin-top: -10px;
	}

}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.starvatron-logo {
		width: 28%;
		margin-top: -20px;
	}
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

	#starvatron-banner .form-control{
		margin-bottom: 18px;
	}

	.starvatron-logo {
		width: 28%;
		margin-top: -55px;
	}
	.home-navigation ul.nav.navbar-nav.navbar-right {
		background:  white;
	}
	.home-navigation ul.nav.navbar-nav.navbar-right li a {
		color:  black;
	}
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

	#starvatron-banner .form-control{
		margin-bottom: 18px;
	}

	.starvatron-logo {
		width: 42%;
		margin-top: -50px;
	}
	.home-navigation ul.nav.navbar-nav.navbar-right {
		background:  #ffffff;
	}
	.home-navigation ul.nav.navbar-nav.navbar-right li a {
		color:  black;
	}

}
